#profile-button{
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    user-select: none;
}

#avatar-wrapper {
    display: flex;
    width: 50px;
    height: 60px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

#avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}