#page-not-found{
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#icon {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

#msg {
    font-size: x-large;
    margin-bottom: 20px;
}